<!DOCTYPE html>
<head>
  <title>TermDeposit Cordapp</title>
  <!-- Insert Javascript Source -->
  <script src="js/angular-module.js"></script>
</head>

<body>
  <!-- Few simple buttons to interact with the API and enter details -->
  <button ng-click="clickButton()" type="button" class="btn btn-default">Issue Term Deposit</button>
  <button ng-click="" type="button" class="btn btn-default">Activate Term Deposit</button>
  <button ng-click="" type="button" class="btn btn-default">Redeem Term Deposit</button>
  <button ng-click="" type="button" class="btn btn-default">Rollover Term Deposit</button>
  <button ng-click="" type="button" class="btn btn-default">View Offers</button>
  <button ng-click="" type="button" class="btn btn-default">View Current Term Deposits</button>
  <br></br>
  <div id="currentDeposits"></div>
