<!DOCTYPE html>
<head>
  <title>Issue Term Deposit</title>
  <!-- Insert Javascript Source -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
  <script src="js/issuetd-module.js"></script>
  <link rel="stylesheet" href="testWebStyle.css">
</head>

<body ng-app="IssueTDAppModule" ng-controller="IssueTDAppController as issueTDApp">
<div class="topnav">
  <button ng-click="issueTDApp.home()" type="button" class="topnav">Home</button>
  <button ng-click="issueTDApp.issueTD()" type="button" class="topnav">Issue Term Deposit</button>
  <button ng-click="issueTDApp.activateTD()" type="button" class="topnav">Activate Term Deposit</button>
  <button ng-click="issueTDApp.redeemTD()" type="button" class="topnav">Redeem Term Deposit</button>
  <button ng-click="issueTDApp.rolloverTD()" type="button" class="topnav">Rollover Term Deposit</button>
  <button ng-click="issueTDApp.kyc()" type="button" class="topnav">KYC Data</button>
</div>
<br><br>
  <div class="td_user_entry">
  <h3> Issue a new term deposit</h3>
  <br>
  <label for="offers_select"> TD Offers </label>
  <select  id="offers_select" label="TD Offer"></select>
  <br>
  <label for="client_select"> Client </label>
  <select  id="client_select"></select>
  <br>
  <label for="depositAmount"> Deposit Amount </label>
  <input type="text" name="depositAmount" id="depositAmount"><br>
  <br>
  <button ng-click="issueTDApp.confirmIssue()" type="button" class="default_button">Issue Term Deposit</button>
  <br><br>
  <div id="loading">
    <img id="loading-image" src="img/ajax-loader.gif" alt="Loading..." />
  </div>
  </div>
  <!-- <script src="js/angular-module.js"></script> -->
</body>
